* {
  box-sizing: border-box;
}

.header nav {
  height: 100%;
}

ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover,
a:active,
a.active {
  padding-bottom: 0.25rem;
}

.page__header {
  color: #fff;
  padding: 1.2rem;
  font-size: 20px;
}

@media only screen and (max-width: 375px) {
  .page__header {
    font-size: 16px;
  }
}

.display__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  background-color: #a1234f;
  padding: 0 10%;
}

.icon-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.icons {
  color: #fff;
}
