.flag-img {
  width: 60px;
  height: 60px;
}

.countries-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.country-item {
  align-items: center;
  background: #d7376f;
  box-shadow: 0 0 11px 8px #6c262c;
  display: flex;
  height: 215px;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  width: 300px;
  position: relative;
}

.country-flag {
  width: 150px;
  height: auto;
  margin: 10px;
  border-radius: 10px;
}

.arrow-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: #fff;
}

.countries-list-container .fade-enter {
  opacity: 0;
  transform: translateY(30px);
}

.countries-list-container .fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms ease-in-out;
}

.countries-list-container .fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.countries-list-container .fade-exit-active {
  opacity: 0;
  transform: translateY(-30px);
  transition: all 500ms ease-in-out;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.search-input {
  padding: 0 10px;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 2px;
}

.country-info {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .country-item {
    width: 25%;
  }

  .search-input {
    width: 40%;
  }
}

@media only screen and (max-width: 375px) {
  .flag-img {
    width: 40px;
    height: 40px;
  }

  .countries-list-container {
    padding: 10px;
  }

  .country-item {
    width: 48%;
    height: 300px;
    margin: 2% 1%;
  }

  .search-input {
    width: 80%;
  }
}
