.selected-country-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  background-color: #d7376f;
  padding: 32px;
  text-align: center;
}

.selected-country-details h3 {
  color: #fff !important;
  margin-bottom: 12px;
  padding: 8px;
}

ul {
  display: flex;
  flex-direction: column;
}

.selected-country-details-content li {
  display: flex;
  padding: 10px;
  color: #fff;
  gap: 4px;
  justify-content: center;
  width: 100%;
}

.selected-country-details-content li:nth-child(odd) {
  background-color: #bd2459;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.selected-country-flag {
  height: 250px;
  width: auto;
  background: #d7376f;
  box-shadow: 0 0 11px 8px #6c262c;
  margin-bottom: 6px;
}
