.flag-img {
  width: 60px;
  height: 60px;
}

.countries-list-container {
  display: flex;
  flex-wrap: wrap;
}

.country-item {
  width: 25%;
  padding: 10px;
}

.country-flag {
  width: 20%;
  height: auto;
  margin-right: 10px;
}
